extends skeleton
block append scripts
  script(src="home.js")
  script(src="jquery.timeago.js")
block navbar-right
  li
    a(href="#").toggle Auto-update off
  li
    a.timer 0s
block content
 form.row(action="https://google.co.uk/search")
  div.form-group.col-md-10
    input(type="text",placeholder="Search Google",name="q",autofocus).form-control
  div.form-group.col-md-2
    input(type="submit",name="btnG").form-control
 div.row
    div.col-md-5
      div.row
        ul.col-md-7.list-group.sociallinks
          li.list-group-item.active Social
          li.list-group-item
            a(href="https://pay.reddit.com") Reddit
          li.list-group-item.imgur
            a(href="//imgur.com") Imgur
            span.pull-right.badge.badge-default(title="Last update to gallery")
          li.list-group-item
            a(href="https://4chan.org") 4chan 
        ul.col-md-5.timezones
      div.row
        div.col-md-12
          div.panel.panel-default
            div.panel-body.marco
      div.row
        ul.col-md-12.activity
    ul.col-md-7.news.list-group
      li.list-group-item.active(data-news="1") BBC News

  div.row
    div.col-md-4
    ul.col-md-5.comics
      li.list-group-item.active Comics updating today
    ul.col-md-3.list-group.foss
      li.list-group-item
        a(href="https://bugzilla.wikimedia.org") Bugzilla
        a.pull-right(href="http://bit.ly/OKNR0D") i18n easy
      li.list-group-item
        a(href="https://gerrit.wikimedia.org") Gerrit
        a.pull-right(href="https://gerrit.wikimedia.org/r/#/q/status:open+project:mediawiki/core,n,z") open core
      li.list-group-item
        a(href="http://git.wikimedia.org/summary/mediawiki%2Fcore.git") Core
        a.pull-right(href="http://git.wikimedia.org/search/?s=Douglas+Gardner&r=mediawiki/core.git&st=AUTHOR") mine
